.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10
}

.modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    width: 50%;
    height: 20%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeButton {
    position: absolute;
    right: 19px;
    top: 0px;
}

.deleteContainer {
    display: flex;
    flex-direction: column;
}

.deleteButtons {
    display: flex;
    justify-content: center;
    gap: 5%;
}